pip
watchdog
tox
Sphinx
pytest
wheel
flake8
tox
coverage
Sphinx
twine
black
isort
pytest-cov
pytest-xdist
pytest-mock
myst-parser
sphinx-copybutton
sphinx-favicon
nbsphinx
pydata-sphinx-theme
ipython
myst-nb
